<!-- this file isn't used -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Me Back</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/styles.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <div class="text-center">
            <h1>I Hate Rejection</h1>
            <p>Your lack of interest makes me sad. Sniff.<br /> You can go back and get three more insults if you want. I'm needy, not greedy.</p>
            <a href="/" id="newQuoteBtn" class="btn btn-primary mt-3">OK, OK, I'll try it again.</a>
            <div id="quote"></div>
        </div>
    </div>
</body>
</html>
